/* Styles for desktop screens */


body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(231, 238, 242);
  padding: 10px;
}

.container {
  display: flex;
}

h1 {
  font-size: 72px;
}

.column {
  flex-grow: 1;
  padding: 10px;
}

.name {
  font-size: 24px;
  font-weight: 900;
  display: inline-flex;

}

.occupation, .navbar {
  display: inline-flex;
  padding-left: 10px;
  font-weight: 300;
}

.navRight {
  text-align: right;
}

.image-container {
  float: right;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
  object-fit: cover;
}